# Environnement virtuel
cat-tool/venv/
discord-bot/venv/

# Fichiers de cache
__pycache__/
*.pyc

# Fichiers temporaires
*.tmp

# Fichiers d'environnement
.env

# Fichiers de logs
/logs/

# Entry point
*.egg-info

# Config Discord Token
discord-bot/src/config